@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

:root {
  --white: rgba(255, 255, 255, 0.7);
  --hightlight-bg: var(--light-blue);
  --light-blue: #e0e0ff;
  --dark-blue: rgb(85, 90, 141);
  --red: #FA6B84;
  --green: #ACF3AE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 14px;
  font-family:  "Fira Code", monospace;
  color: var(--white);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  line-height: 1.4em;
  margin: 0 auto;
  font-weight: 300;
  background-color: #111;
  padding: 60px 0 30px;
  position: relative;
}

/* Custom scrollbar - Start */
html {
  --scrollbar_bg: #555;
  --thumb_bg: #aaa;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumb_bg) var(--scrollbar_bg);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbar_bg);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumb_bg);
  border-radius: 6px;
  border: 3px solid var(--scrollbar_bg);
}
/* Custom scrollbar - End */

.flex-box {	
  display: flex;	
}	
.flex-col {	
  display: flex;	
  flex-direction: column;	
}	
.flex-row {	
  display: flex;	
  flex-direction: row;	
}	
.margin-bot-4vh {	
  margin-bottom: 4vh;	
}

#title {
  color: var(--white);
  font-size: 6vmin;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-family: 'Fira Code', monospace; */
  padding: 5px;
  position: absolute;
  top: 0;
  left: 3px;
}

#head-message {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #3b3b59;
  opacity: 0.9;
  width: 50%;
  padding: 20px;
  z-index: 999;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin: 13vh 0 5vh 0;
}

#start-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white);
  margin: 10vh 0 10vh 0;
}

#start-menu button {
  font-size: 3.5vmin;
  font-family: "Fira Code", monospace;
  color: var(--white);
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 5px;
  margin: 10px;
}

#start-menu button:hover {
  color: var(--white);
  background-color: rgba(85, 90, 141, 0.4);
}

.controller {
  margin: 0 2vw 0 2vw; 
  display: flex;
  flex-direction: column;
}

.controller button {
  font-size: 1.5vw;
  font-family: "Fira Code", monospace;
  color: var(--white);
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 5px;
  margin: 10px 0 0 3px;
}

.controller button:hover {
  color: #fff;
  background-color: rgba(85, 90, 141, 0.4);
}

.game-board {
  display: flex;
  flex-direction: column;
  opacity: 100%;
  width: 60vmin;
  background-color: rgba(255, 255, 255, 0.05);
}

#preview-container {
  display: inline-flex;
  width: 80vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 5vh 0;
}

.level-container {
  position: relative;
  margin: 12px 0 0 10px;
  width: 100px;
  height: 120px;
}

.level-container:hover {
  background-color: var(--light-blue);
}

.level-container:hover .level-title {
  color: var(--dark-blue);
}

.level {
  width: 100px;
  height: 100px;
}

.incompleted-level {
  filter: blur(10px) brightness(180%);
}

.level-overlay {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  filter: blur(2px);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
}

.level-container:hover .level-overlay {
  filter: blur(0);
  color: rgba(0, 0, 0, 0.6);
}

.level-title {
  margin: 10px 0 0 5px;
  color: #a9afdd;
}

.cell-row {
  display: flex;
  flex-direction: row;
}

/* .tile img {
  pointer-events: none;
} */

.tile,
.tile img,
.preview-cell img {
  width: 100%;
  height: 100%;
}

.tile:hover {
  background-color: var(--light-blue);
}

.cell-hint-highlight {
  background-color: #ffa3a3;
}

#footer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(85, 90, 141, 0.4);
  color: #f1f8ff;
  text-align: center;
}

a {
  text-decoration: none;
  color: #54b3d6;
}

a:hover {
  color: #fff;
}

@media (max-height: 420px) {
  #footer {
    display: none;
  }
}

/* slider - start */

input[type="range"] {
  -webkit-appearance: none;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.3vw;
  background: #bbb;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 0.8vw;
  width: 0.8vw;
  border-radius: 50%;
  background: rgb(85, 90, 141);
  transform: translate(0, -25%);
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/* slider - end */

.slider-container {
  line-height: 1;
  margin: 3px 0 3px 0;
}

.slider-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider {
  width: 100%;
  height: 30px;
}

.slider-label {
  font-size: 0.8vw;
  color: var(--white);
  margin-right: 3px;
}

.slider-value {
  font-size: 1vw;
  color: var(--white);
  transform: translate(5px, 1px);
}

.page-title {
  font-size: 3vh;
  line-height: 1;
}

.page-content {
  line-height: 1;
  margin: 2vh 0 0 0;
}

/* selector */

.selector-controller {
  width: 10vw;
}

.tile-selector .tile {
  pointer-events: none;
  /* background-color: none; */
}

.tile-checkbox {
  background-color: var(--light-blue);
}

.tile-checkbox:hover {
  filter: brightness(0.5);
}

.unchecked {
  filter: grayscale(1) brightness(0.7);
}

.unchecked:hover {
  filter: grayscale(1);
  background-color: var(--light-blue);
}
